name: Check vulnerabilities and licenses

on: [push, workflow_dispatch]

jobs:
  check-licenses:
    name: Check licenses
    uses: th2-net/.github/.github/workflows/go-license-check.yml@main
    with:
      version: 0.0.0
  check-vulnerabilities:
    name: Check vulnerabilities
    uses: th2-net/.github/.github/workflows/go-vulnerabilities-scan.yml@osv-scanner-action